
<div class="span6 offset3">

	<div class="boxy">

		<h1 class="custom-font">Hi I'm Kevin</h1>

		<p>I'm having a ton of fun learning rails or something.  Installing was a PITA</p>
		<%= link_to('Check out my App', pics_path, :class => 'btn btn-success btn-large') %>

	</div>

</div>